
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Inter", "Roboto", sans-serif;
}

body {
  background-color: #0a0602; /* optional: your theme base */
  color: #fff4e5; /* light text color for dark mode */
  letter-spacing: 0.5px;
  line-height: 1.6;
}
